@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');


:root {
    --cor-principal: #1848D9;
    --cor-secundaria: #0F168C;
    --cor-terciaria: #0F168C;
    --cor--teste: #0F168C;

    --fonte-titulo: "Playfair Display SC", serif;
    --fonte-texto: "Montserrat", sans-serif;
}


body {
    margin: 0;
    padding: 0;
}


/* Garante que tudo respeite o tamanho da caixa */
* {
    box-sizing: border-box;
}



.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.055);
    z-index: 10; /* Garante que a navbar fique sobre o conteúdo */
}


/* Container da navbar */
.navbar-container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;  /* Necessário para posicionamento absoluto dos links */
}

.navbar-logo {
    grid-column: 1;
    color: white;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
    z-index: 11; /* Garante que a logo fique acima dos links */
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 60px;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 50%;
}


.navbar-links li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: bold;
}

.navbar-links li a:hover {
    color: var(--cor-principal);
}


.hero {
    display: grid;
    place-items: center;
    height: 70vh;
    background: url('../images/hotel-main.png') no-repeat center center;
    background-size: cover;
    color: white;
    position: relative;
    text-align: center;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.212);
}

.hero::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.205);
}


.hero-content  {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-width: 800px;
    z-index: 2;
}

.hero-content h1 {
    font-family: var(--fonte-titulo);
    margin-bottom: 20px;
    font-size: 4rem;
}


.hero-content p {
    font-family: var(--fonte-texto);
    margin-bottom: 40px;
    max-width: 600px;
    line-height: 1.6;
    font-size: 1.8rem; 
}


/* Botões lado a lado com Flex */
.hero-buttons {
    display: flex;
    gap: 30px; 
    justify-content: center;
    margin-bottom: 30px;

}


/* Estilo dos botões */
button.btn {
    background-color: transparent;
    color: white;
    font-weight: bold;
    border: 1px solid white;
    font-size: 1.0rem;
    width: 220px;
    height: 60px;
    border-radius: 8px;
    position: relative;
}


button.primary {
    background: white;
    color: black;
}


.btn:hover {
    background: white;
    color: black;
}


.hero h1,
.hero p {
  position: relative;  /* garante que o texto fique acima da camada escura */
  z-index: 2;
}


/* Define o espaçamento da seção inteira */
.about-us {
    padding: 80px 0;
    background-color: #f9f9f9;
}


/* O container que vai alinhar os itens lado a lado */
.about-us-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;

    display: flex;
    gap: 60px;
    align-items: center; /* Alinha verticalmente o texto e a imagem */
}


/* Define que cada coluna (texto e imagem) vai ocupar metade do espaço */
.about-us-text,
.about-us-image {
    flex: 1; /* Cada item ocupa uma fração igual do espaço */
    display: flex;
    flex-direction: column;
}


/* Estilo para a imagem preencher o container dela */
.about-us-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.212);
    
}

.about-us-text h2 {
    font-family: var(--fonte-titulo);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.about-us-text p {
    font-family: var(--fonte-texto);
    text-align: justify;
    font-size: 1.2rem;
    line-height: 1.6;
}

.about-us-text a {
    align-self:center;
    margin-top: 20px;
    font-family: var(--fonte-texto);
    font-size: 1.2rem;
    text-decoration: none;
}

.about-us-text a:hover {
    color: var(--cor-principal);
    text-decoration: underline;
}

.rooms-section {
    padding: 80px 0;
}


.rooms-container {
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.rooms-section h2 {
    font-family: var(--fonte-titulo);
    font-size: 2.3rem;
}

.section-subtitle {
    font-family: var(--fonte-texto);
    font-size: 1.2rem;
}

/* O container de cada quarto */
.room-show-case {
    display: flex;
    align-items: center;
    margin-top: 60px;
    text-align: left;
    gap: 60px;
}

.room-image img {
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.212);
}

.room-text h3 {
    font-family: var(--fonte-titulo);
    font-size: 1.8rem;
}

.room-text p {
    font-family: var(--fonte-texto);
    font-size: 1.3rem;
    line-height: 1.6;
}

.room-text a {
    display: flex;
    justify-content: center;
    font-family: var(--fonte-texto);
    color: var(--cor-principal);
    font-size: 1.2rem;
    text-decoration: none;
}

.room-text a:hover {
    text-decoration: underline;
}

.room-show-case-reverse {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 200px;
}


.services-section {
    text-align: center;
    background-color: #f9f9f9;
    margin-top: 100px;
    padding-top: 30px;
}

.services-section h2 {
    font-family: var(--fonte-titulo);
    font-size: 2.4rem;
}

.services-section p {
    font-family: var(--fonte-texto);
    font-size: 1.3rem;
    margin-bottom: 80px;
}


.services-container {
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-content: center;
    gap: 40px;
    background-color: #f9f9f9;
}

.service-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;
    width: 300px;
    height: 200px;
}


.service-item .service-icon {
    border-radius: 50%;
    padding: 10px;
    background-color: var(--cor-principal);
    object-fit: cover;  /* Garante que a imagem preencha o círculo sem distorcer */
    
}

.service-item h3 {
    font-family: var(--fonte-titulo);
    font-size: 1.2rem;
    text-align: center;
}

.service-item p {
    font-family: var(--fonte-texto);
    font-size: 1.1rem;
    line-height: 1.6;
    text-align: center;
}


.contact-section {
    margin-top: 100px;
    height: 600px;
    text-align: center;
}

.contact-section h2 {
    font-family: var(--fonte-titulo);
    font-size: 2.3rem;
}

.contact-section p {
    font-family: var(--fonte-texto);
    font-size: 1.2rem;
    
}

.contact-items {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 80px;
    width: 700px;
    height: 250px;
    border-radius: 8px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.212);
}

.contact-items h3 {
    font-family: var(--fonte-titulo);
    font-size: 1.4rem;
    text-align: left;
    padding-left: 30px;
    margin-bottom: 5px;
}

.contact-items li {
    list-style: none;
    text-align: start;
    line-height: 2.3;
    
}


.contact-icon {
    margin-right: 15px;
}


.footer-container {
    display: flex;
    margin: 0 auto;
    padding-top: 60px;
    height: 400px;
    justify-content: space-around;
    width: 100%;
    background-color: rgb(31 41 55);
    color: white;
}

.footer-title {
    font-family: var(--fonte-titulo);
    font-size: 1.3rem;
}

.hotel-text p {
    font-family: var(--fonte-texto);
    line-height: 1.8;
    color: rgb(156 163 175);
}


.footer-links li {
    list-style: none;
    line-height: 1.8;
}


.footer-links li a {
    color: rgb(156 163 175);
    text-decoration: none;
}

.footer-links li a:hover {
    color: white;
}


.hotel-icon {
    margin-right: 10px;
}